<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <div class="masthead mb-auto">
    <header class="inner">
      {{ page.header }}
    </header>
  </div>
  <div class="inner cover">
    <div class="row">
      <div class="col-lg-8">
        {{ page.content }}
      </div>
      <sidebar class="col-lg-4">
        {{ page.sidebar }}
      </sidebar>
    </div>
  </div>
  <footer class="mastfoot mt-auto">
    <div class="inner">
      {{ page.footer }}
    </div>
  </footer>
</div>
